body {

  background: radial-gradient(circle at center,#0a0f24,#000000 80%);
}

/* 动态光点背景 */
body::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: repeating-radial-gradient(circle, #0ff2 0, #0ff1 2px, transparent 3px);
  animation: move 15s linear infinite;
  opacity: 0.15;
}

@keyframes move {
  0% { transform: translate(0,0); }
  100% { transform: translate(-20%, -20%); }
}

.container {
  text-align: center;
  position: relative;
  z-index: 10;
}

a {
  display: block;
  margin: 40px 0;
  font-size: 55px;
  text-decoration: none;
  color: #00eaff;
  padding: 20px 50px;
  border: 2px solid #00eaff;
  border-radius: 15px;
  box-shadow: 0 0 15px #00eaff, 0 0 30px #0088aa inset;
  transition: 0.25s;
}

a:hover {
  transform: scale(1.08);
  box-shadow: 0 0 25px #00eaff, 0 0 45px #00eaff;
  background: rgba(0, 255, 255, 0.1);
}
